/* VARIABLES */
$main-font: 'Orbitron', monospace, sans-serif;

$formula-display-font-size: 14px;
$button-font-size: 18px;
$main-font-size: 20px;

$dark-gray: #414042;
$middle-gray: #58595b;
$light-gray: #b1b4ba;
$accent-color: #ff9900;
$red-color: #ac3839;
$blue-color: #004566;